.page-printing-2{


		height:100vh;
		background-color:#002638;
	

	main{
		background-color:#002638;
		text-align:center;


		h1{
			text-align:center;
			color:#F2E9D9;
			margin-top:6rem;
		}

		img{
			width:30%;
			padding:3rem;
		}

		a {
			text-decoration:none;
		}

	}
}